[Unit]
Description=Fauxnet WebUI
PartOf=fauxnet.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fauxnet/webui/frontend
ExecStartPre=npm run build
ExecStart=npm run preview
Restart=always

[Install]
WantedBy=multi-user.target