[Unit]
Description=Fauxnet API
PartOf=fauxnet.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fauxnet/webui/backend
ExecStart=/usr/bin/pipx run --spec uvicorn uvicorn app.main:app --host 0.0.0.0 --port 8000 --log-level info
Restart=always

[Install]
WantedBy=multi-user.target